body {
    margin: 0 auto;
}

.fixed-width {
    max-width: 1140px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.flex-basis-auto {
    flex-basis: auto;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-middle {
    align-items: center;
}

.image-container {
    position: relative;
    /* text-align: start; */
    /* color: white; */

}

.header-image {
    height: 40.75rem;
    width: 90rem;
}

.darker-filter {
    filter: brightness(70%);
}

.darkened {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

/* Centered text overlay*/
.centered-textover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-white {
    color: whitesmoke;
}

.nav-h1 {
    font-size: 1.75rem;

}

.header-h1 {
    font-size: 3rem;
    line-height: 4.28rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.header-h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.header-whiteboard {
    width: 62.375rem;
    /* height: 36.313rem; */
    background-color: white;
    border: 0.125rem solid black;
}

.text-mono {
    font-family: 'Azeret Mono';
}

.button-black {
    background-color: black;
    padding-block: 1.25rem;
    padding-inline: 1.5rem;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-trasperent {
    background-color: transparent;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    border: 0.125rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header-logo {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    padding-bottom: 2rem;
}

.section-margin {
    margin-top: 4.5rem;
}

.background-dull {
    background-color: rgb(248 248 248);
    color: #0D1321;
}

.gradient-white {
    background-color: white;
    background-image: linear-gradient(to right, white, #fafafb);
}

.gradient-white-reverse {
    background-color: white;
    background-image: linear-gradient(to left, white, #fafafb);
}

.container {
    margin: 6rem;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}


.article-padding {
    padding-inline: 3rem;
}

.article-h1 {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #0d3121;
}

.article-h2 {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0D3121;
    opacity: 0.7;
}

.article-text {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 1rem;
    color: #0D3121;
}

.width-7 {
    width: 58.33%;
}

.width-8 {
    width: 66.67%;
}

.width-9 {
    width: 75%;
}

.width-10 {
    width: 83.33%;
}

.width-11 {
    width: 91.67%;
}

.border-1 {
    border: 1px solid #0D1321;
}

.rounded-1 {
    border-radius: 1rem;
}

.rounded-2 {
    border-radius: 1.5rem;
}

.margin-bottom-1 {
    margin-bottom: 1.5rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem
}

.padding-bottom-1 {
    padding-bottom: 1.5rem;
}

.button-article {
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    font-size: 1.25rem;
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 0.125rem solid #0d3121;
    opacity: 0.7;
    cursor: pointer;
}

.margin-start-2 {
    margin-inline-start: 2rem;
}

.margin-end-2 {
    margin-inline-end: 2rem;
}

a {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #0D3121;
}

.object-fit-cover {
    object-fit: cover;
}

.support-image {
    width: 71.25rem;
    height: 19.5rem;
}

.support-h2 {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

.support-text {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.support-textbox {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
    color: rgb(115, 107, 107);
    width: 33rem;
    height: 3.25rem;
    display: inline-block;
    padding: 0.25rem 1.5rem;
    font-size: 20px;
    border-radius: 0.5rem;
    /* -webkit-appearance: none; */
    border: 1px solid transparent;
    padding-inline: 1rem;
}

.button-support {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #0d3121;
    background-color: white;
    display: inline-block;
    padding: 0.25rem 1.5rem;
    font-size: 20px;
    border-radius: 0.5rem;
    /* -webkit-appearance: none; */
    border: 1px solid transparent;
    margin-inline-start: 1.5rem;
    cursor: pointer;
}

footer {
    margin-top: 5rem;
    height: 6.23rem;
}

.gap-1 {
    gap: 1rem;
}

.footer-container {
    display: flex;
    flex-grow: 100;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    color: grey;
}